<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Profile Card</title>
    <link rel="stylesheet" href="style.css">
    <!-- <link rel="stylesheet" href="style.css"> will be injected by Puppeteer -->
</head>

<body>
    <div class="card-container">
        <img class="round" src="{{imageLink}}" alt="user" />
        <h3>{{name}}</h3>
        <h6>{{location}}</h6>
        <p>{{title}}</p>
        <div class="buttons">
            <button class="primary">
                {{socialMedia}}
            </button>
            <button class="primary ghost">
                {{socialMediaUsername}}
            </button>
        </div>
        <div class="skills">
            <h6>Skills</h6>
            <ul>
                {{skills}}
            </ul>
        </div>
    </div>
</body>

</html>