@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    scroll-behavior: smooth;
    margin: 0;
    padding: 0;
    font-family: 'Montserrat';
}

body {
    width: 100vw;
    overflow-x: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    overflow-y: scroll;
}

.heading-container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    text-align: center;
    gap: 2rem;
}

.heading-container h1 {
    font-size: 2rem;
    margin-bottom: 20px;
}

.besides-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.page-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: row;
}

.card {
    width: 18rem;
}

#form-container {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    width: 40%;
}

.card-body {
    text-align: center;
    font-weight: 600;
}

#btn-container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-direction: row;
}

label span {
    font-size: 1rem;
    color: red;
}

#noteContainer {
    font-size: smaller;
    color: gray;
}

#noteContainer span {
    color: red;
}

/* Media Query for screens smaller than 768px */
@media (max-width: 760px) {
    .page-container {
        width: 80%;
        flex-direction: column-reverse;
        gap: 3rem;
    }

    #form-container {
        width: 100%;
    }
}

@media (max-width: 576px) {
    #btn-container {
        flex-direction: column;
    }

    #btn-container>button:nth-child(1) {
        margin-bottom: 1rem;
    }
}